## Tasks

## 0

Load the msft.csv dataset containing Microsoft Corporation stock prices and the pandas library.

In [5]:
#TODO
#Load the msft.csv dataset containing Microsoft Corporation stock prices and the pandas library.
import pandas as pd
stocks = pd.read_csv('../input/msft.csv', parse_dates=['Date'])
#Print the first 5 rows of the dataset to understand its structure.
stocks.head()

C:\Users\Windows 10\AppData\Local\Temp\ipykernel_18548\3731542955.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  stocks = pd.read_csv('../input/msft.csv', parse_dates=['Date'])

        Date   Open   High    Low  Close    Volume
0 2015-11-25  54.09  54.23  53.69  53.69  21005147
1 2015-11-24  53.92  54.44  53.58  54.25  24600043
2 2015-11-23  54.25  54.46  53.75  54.19  28235918
3 2015-11-20  54.25  54.30  53.26  54.19  37147608
4 2015-11-19  53.99  54.66  53.78  53.94  28149228

## 1.

Create a new column "Change" that shows the daily change in the stock price between the closing price and the opening price.

In [4]:
#TODO
# Create a new column "Change" that shows the daily change in the stock price between the closing price and the opening price.
stocks['Change'] = stocks['Close'] - stocks['Open']
# Display the first 5 rows of the updated DataFrame.
stocks.head()

        Date   Open   High    Low  Close    Volume  Change
0 2015-11-25  54.09  54.23  53.69  53.69  21005147   -0.40
1 2015-11-24  53.92  54.44  53.58  54.25  24600043    0.33
2 2015-11-23  54.25  54.46  53.75  54.19  28235918   -0.06
3 2015-11-20  54.25  54.30  53.26  54.19  37147608   -0.06
4 2015-11-19  53.99  54.66  53.78  53.94  28149228   -0.05

## 2.

Create a new column "ChangeRel" that shows the daily relative change in the stock price with respect to the opening price.

In [6]:
#TODO
#Create a new column "ChangeRel" that shows the daily relative change in the stock price with respect to the opening price.
stocks['ChangeRel'] = (stocks['Close'] - stocks['Open']) / stocks['Open'] * 100
#Display the first 5 rows of the updated DataFrame.
stocks.head()

        Date   Open   High    Low  Close    Volume  ChangeRel
0 2015-11-25  54.09  54.23  53.69  53.69  21005147  -0.739508
1 2015-11-24  53.92  54.44  53.58  54.25  24600043   0.612018
2 2015-11-23  54.25  54.46  53.75  54.19  28235918  -0.110599
3 2015-11-20  54.25  54.30  53.26  54.19  37147608  -0.110599
4 2015-11-19  53.99  54.66  53.78  53.94  28149228  -0.092610

## 3.

What is the largest percentage daily increase and decrease in price?

In [7]:
#TODO
#What is the largest percentage daily increase and decrease in price?
max_increase = stocks['ChangeRel'].max()
max_decrease = stocks['ChangeRel'].min()
print(f"Largest percentage daily increase: {max_increase:.2f}%")
print(f"Largest percentage daily decrease: {max_decrease:.2f}%")

Largest percentage daily increase: 4.84%
Largest percentage daily decrease: -4.92%

## 4.

Calculate the number of days with a price increase, the number of days where the price remained identical to the opening price, and the number of days with a price decrease?

In [8]:
#TODO
#Calculate the number of days with a price increase, the number of days where the price remained identical to the opening price, and the number of days with a price decrease?
num_increase_days = (stocks['ChangeRel'] > 0).sum()
num_identical_days = (stocks['ChangeRel'] == 0).sum()
num_decrease_days = (stocks['ChangeRel'] < 0).sum()
print(f"Number of days with a price increase: {num_increase_days}")
print(f"Number of days with a price identical to the opening price: {num_identical_days}")
print(f"Number of days with a price decrease: {num_decrease_days}")

Number of days with a price increase: 126
Number of days with a price identical to the opening price: 2
Number of days with a price decrease: 123

## 5.

Write a program that calculates the number of records in the dataset that relate to 2015 and those that relate to 2014.

In [9]:
#TODO
#Write a program that calculates the number of records in the dataset that relate to 2015 and those that relate to 2014.
num_records_2015 = (stocks['Date'].dt.year == 2015).sum()
num_records_2014 = (stocks['Date'].dt.year == 2014).sum()
print(f"Number of records for 2015: {num_records_2015}")
print(f"Number of records for 2014: {num_records_2014}")

Number of records for 2015: 228
Number of records for 2014: 23

## 6.

Extract the data that pertains exclusively to 2015 and, for that subset, repeat the procedure from task 4.

In [10]:
#TODO
#Extract the data that pertains exclusively to 2015 and, for that subset, repeat the procedure from task 4.
stocks_2015 = stocks[stocks['Date'].dt.year == 2015]
num_increase_days_2015 = (stocks_2015['ChangeRel'] > 0).sum()
num_identical_days_2015 = (stocks_2015['ChangeRel'] == 0).sum()
num_decrease_days_2015 = (stocks_2015['ChangeRel'] < 0).sum()
print(f"Number of days with a price increase in 2015: {num_increase_days_2015}")
print(f"Number of days with a price identical to the opening price in 2015: {num_identical_days_2015}")
print(f"Number of days with a price decrease in 2015: {num_decrease_days_2015}")

Number of days with a price increase in 2015: 116
Number of days with a price identical to the opening price in 2015: 2
Number of days with a price decrease in 2015: 110

## 7.

For records from 2015, calculate the maximum opening daily stock price for the days when the closing stock price was lower than the opening price.

In [11]:
#TODO
#For records from 2015, calculate the maximum opening daily stock price for the days when the closing stock price was lower than the opening price.
max_opening_price_2015 = stocks_2015.loc[stocks_2015['Close'] < stocks_2015['Open'], 'Open'].max()
print(f"Maximum opening daily stock price in 2015 when closing price was lower than opening price: {max_opening_price_2015}")

Maximum opening daily stock price in 2015 when closing price was lower than opening price: 54.55

## 8.

If you haven't already, solve the previous task by iterating through the dataset previously filtered using a logical condition.

In [ ]:
#TODO
#Solve the previous task by iterating through the dataset previously filtered using a logical condition.
max_opening_price_2015_iter = None
for _, row in stocks_2015.iterrows():
    if row['Close'] < row['Open']:
        if max_opening_price_2015_iter is None or row['Open'] > max_opening_price_2015_iter:
            max_opening_price_2015_iter = row['Open']
print(f"Maximum opening daily stock price in 2015 when closing price was lower than opening price (iterative): {max_opening_price_2015_iter}")

Maximum opening daily stock price in 2015 when closing price was lower than opening price (iterative): 54.55